.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.old-version-warning {
  background-color: var(--color-gray-900);
  padding: 8px 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}
.old-version-warning-text {
  display: flex;
  align-items: center;
}
.old-version-warning .warning-icon {
  height: 1.5rem;
  margin-right: 8px;
}
