.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.old-version-warning {
  background-color: var(--color-info);
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: var(--spacing-3);
}

.old-version-warning-text {
  display: flex;
  align-items: center;
}

.old-version-warning .warning-icon {
  height: 1.5rem;
  margin-right: 8px;
  fill: var(--color-blue-dark);
}

a.old-version-button, a.old-version-button:link, a.old-version-button:visited {
  padding: 0.25rem var(--spacing-1);
  color: var(--color-blue-dark);
}

a.old-version-button:hover, a.old-version-button:active {
  background-color: var(--color-blue-dark);
  color: var(--color-button-secondary-text-hover);
}

.es-header {
  padding: 0 var(--spacing-4);
  justify-content: start;
}

.es-navbar {
  max-width: 100%;
}

.sidebar-container {
  margin: 0;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
  max-width: 100%;
  padding: 0;
}

.info-banner-wrapper {
  margin: var(--spacing-1);
  padding: var(--spacing-1);
  background-color: var(--color-info);
  border-radius: var(--radius-lg);
}

@media (min-width: 30em) and (max-width: 85em) {
  main {
    grid-template-columns: 18em 1fr;
  }
}

.guides-article-wrapper {
  display: grid;
  gap: 3em;
  grid-template-columns: minmax(20ch, 80ch) 16em;
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  justify-content: center;
}

.pagination-wrapper {
  margin: var(--spacing-4) 0;
}

.on-this-page-wrapper {
  margin-top: .6em;
}

@media (max-width: 80em) {
  .guides-article-wrapper {
    display: grid;
    grid-template-columns: minmax(20ch, 80ch);
    justify-content: center;
    padding-bottom: var(--spacing-2);
  }

  .guides-article-toc {
    display: none;
  }

  .pagination-wrapper {
    margin: var(--spacing-2) 0;
  }
}

/* TODO figure out how much of this media query needs to go into the styleguide */
@media (max-width: 844px) {
  main .es-sidebar[aria-expanded="true"] {
    padding: var(--spacing-2);
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    margin: var(--spacing-2) 0 0 0;
    background: var(--color-white);
  }

  main .es-sidebar-toggle {
    z-index: 2;
  }

  main .es-sidebar-content {
    flex-grow: 1;
    margin-top: var(--spacing-2);
  }

  main .es-sidebar-close {
    float: none;
    height: 52px;
    margin-left: var(--spacing-1);
  }
}

@media screen and (min-width: 54em) {
  .sidebar {
    border-bottom: 0;
    border-right: 1px solid #F8E7CF;
    padding: 3em 1.618em 3em 0;
  }

  .sidebar:last-child {
    margin-right: 0;
  }

  label[for="toc-toggle"] {
    display: none;
  }

  .toc-container {
    display: block;
  }

  .toc-container[style] {
    display: block !important;
  }
}

.article-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-title > h1 {
  margin: 0;
  line-height: var(--font-size-xl);
}

.edit-page:link,
.edit-page:visited {
  background: none;
}

.edit-icon {
  height: 1rem;
}

/* Error page */
.error-page {
  padding: var(--spacing-3) 0;
  text-align: center;
}

/* Header links */

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  margin-left: 12px;
  vertical-align: middle;
}

main h1 > a:link,
main h2 > a:link,
main h3 > a:link,
main h4 > a:link,
main h5 > a:link,
main h6 > a:link {
  background: none;
}

h1 > a > svg,
h2 > a > svg,
h3 > a > svg,
h4 > a > svg,
h5 > a > svg,
h6 > a > svg {
  height: 18px;
  fill: var(--color-gray-600);
  transform: rotate(45deg);
}

h1 > a:hover > svg,
h2 > a:hover > svg,
h3 > a:hover > svg,
h4 > a:hover > svg,
h5 > a:hover > svg,
h6 > a:hover > svg {
  fill: var(--color-brand);
}
