.DocSearch {
  --docsearch-primary-color: var(--color-brand);
  --docsearch-highlight-color: var(--color-brand-hc-dark);
  --docsearch-text-color: var(--color-gray-700);
  --docsearch-muted-color: var(--color-gray-600);
  --docsearch-searchbox-shadow: var(--focus);
  --docsearch-modal-background: var(--color-gray-200);
  --docsearch-footer-background: var(--color-gray-100);
  --docsearch-modal-shadow: none;
  --docsearch-footer-shadow: none;
  --docsearch-logo-color: var(--color-gray-500);
  --docsearch-hit-background: var(--color-gray-200);
  --docsearch-hit-color: var(--color-gray-500);
  --docsearch-hit-shadow: none;
}

.DocSearch-Input:focus{
  outline: none;
  box-shadow: initial;
}

#search-input {
  border-radius: 18px;
  border: 2px solid var(--color-card-border);
  line-height: 30px;
  padding-left: 8px;
  width: 100%;
}

@media (min-width: 1008px) {
  .navbar-list {
    flex-grow: 1;
  }
}

@media (max-width: 1007px) {
  .DocSearch-Button {
    width: 100%;
    margin-left: 0 !important;
  }

  .DocSearch-Button-Placeholder {
    display: flex !important;
  }

  .ds-dropdown-menu {
    width: calc(100vw - 2rem);
  }
}
