pre.shiki {
  padding: var(--spacing-2);
  border-radius: var(--radius-lg);
}

.line-numbers {
  counter-reset: step;
  counter-increment: step 0;
}

/*
* Set on first span inside line to it works together with line highlights
*/
code.line-numbers .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1em;
  margin-right: 1.5em;
  display: inline-block;
  text-align: right;
  color: rgb(115 138 148 / 40%);
}
