/* All the .es-sidebar styling should probably move to the ember-styleguide when we agree this is the right thing to do */
.es-sidebar {
  border-right: 1px solid var(--color-gray-700);
  padding: var(--spacing-4) var(--spacing-4) 0 0;
  margin: calc(-1 * var(--spacing-6)) 0 calc(-1 * var(--spacing-6));
}

.table-of-contents {
  list-style-type: none;
  padding-left: 0;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-3);
}

.sub-table-of-contents {
  padding-left: var(--spacing-1);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-2);
}

.sub-table-of-contents .sub-table-of-contents {
  padding-left: var(--spacing-3);
  margin-bottom: 0;
}

.table-of-contents a:link {
  background: none;
}

.sub-table-of-contents .toc-item a  {
  display: block;
  padding: var(--spacing-1);
  border-radius: var(--radius);
  line-height: var(--line-height-xs);
  color: var(--color-gray-700);
  border-left: 0 solid transparent;
  transition: border-width .3s;
}

.sub-table-of-contents .toc-item a:hover {
  border-left: 4px solid var(--color-gray-400);
  border-radius: 0;
}

.sub-table-of-contents .toc-item.selected > a  {
  border-left: 4px solid var(--color-brand-hc-dark);
  border-radius: 0;
}

.table-of-contents li {
  margin: 3px 0;
}

li.toc-heading {
  margin-top: var(--spacing-4);
  color: var(--color-gray-600);
}

li.toc-heading:first-child {
  margin-top: 0;
}
