{{#if @toc}}
  <div class="on-this-page-wrapper">
    <div class="on-this-page-wrapper-header">On this page</div>
    <hr>
    <ul>
      {{#each @toc as |toc|}}
       {{#if (or (eq toc.depth '1') (eq toc.depth '2') (eq toc.depth '3'))}}
          <li>
            <a href="#{{toc.id}}" class="on-this-page-depth-{{toc.depth}}">{{toc.text}}</a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    {{yield}}
  </div>
{{/if}}