{{!-- template-lint-disable no-implicit-this --}}
{{#if this.config}}
  <div class="info-banner-wrapper">
    <div class="info-banner-container">
      {{markdown-to-html this.config.content}}
    </div>
  </div>
{{/if}}
