name: CI

on:
  push:
    branches:
      - master
      - main
      - "v*"
  pull_request:
    branches:
      - main
      - website-redesign

env:
  NODE_VERSION: 14
  FORCE_COLOR: 1

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - run: npm i -g npm@8
      - run: npm ci
      - run: npm run lint

  floating-dependencies:
    name: Floating Dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - run: npm i -g npm@8
      - run: npm install --no-package-lock
      - run: npm test

  test:
    name: Tests
    runs-on: ubuntu-latest
    env:
      PERCY_PARALLEL_NONCE: ${{ github.run_id }}-${{ github.run_number }}
      PERCY_PARALLEL_TOTAL: 1
      PERCY_TOKEN: e01f89bea06d5ccd1207a5cd2799645e4942ecd0d8da739502a206d0fc7392fc
      RUN_PERCY_TESTS: true


    steps:
      - uses: actions/checkout@v2
      - uses: mansona/npm-lockfile-version@v1
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - run: npm i -g npm@8
      - run: npm ci
      - run: npx percy exec -- npm run test

  try-scenarios:
    name: "ember-try: ${{ matrix.ember-try-scenario }}"
    runs-on: ubuntu-latest
    needs: test

    strategy:
      fail-fast: false
      matrix:
        ember-try-scenario:
          - 'ember-lts-3.20'
          - 'ember-lts-3.24'
          - 'ember-lts-3.28'
          - 'ember-release'
          - 'ember-beta'
          - 'ember-default-with-jquery'
          - 'ember-classic'
          - 'embroider-safe'
          - 'embroider-optimized'
          - 'no-deprecations'

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - run: npm i -g npm@8
      - run: npm ci
      - name: test
        run: node_modules/.bin/ember try:one ${{ matrix.ember-try-scenario }} --skip-cleanup

  allow-fail-try-scenarios:
    name: ${{ matrix.try-scenario }} - Allowed to fail
    runs-on: ubuntu-latest
    needs: 'test'

    permissions:
      pull-requests: write

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-canary
          - ember-release-no-deprecations

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - run: npm i -g npm@8
      - run: npm ci
      - name: Run Tests
        id: tests
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}
        continue-on-error: true
      - uses: mainmatter/continue-on-error-comment@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          outcome: ${{ steps.tests.outcome }}
          test-id: ${{ matrix.try-scenario }}
